
$border-width:2px;

@import './custom.scss';

// border-top
@mixin border-t ($width:$border-width){
 border-top : $width solid transparent;
}


.border-t_r{
    @include border-t;
}


// border-bottom
@mixin border-b ($width:$border-width) {
    border-bottom : $width solid transparent;
   }


.border-b_r{
    @include border-b;
}


   
//border-left
@mixin border-l ($width:$border-width){
 border-left : $width solid transparent;
}


.border-l_r{
    @include border-l;
}


//border-right

@mixin border-r ($width:$border-width){
    border-right : $width solid transparent;
   }
   
.border-r_r{
    @include border-r;
}
