/* Just using the first letter of a word in the mixin*/


@mixin flex ($flex-direction:row) {
    display: flex;
    flex-direction: $flex-direction;
}


//  Space evenly

@mixin flex--jc-se ($flex-direction:row) {
    display: flex;
    justify-content: space-evenly;
    flex-direction: $flex-direction;
}


@mixin flex--jc-se--fw-w($flex-direction:row) {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: $flex-direction;
}


// Center 

@mixin flex--jc-c ($flex-direction:row) {
    display: flex;
    justify-content: center;
    flex-direction: $flex-direction;
    }




@mixin flex--jc-c--ai-c ($flex-direction:row) {
display: flex;
justify-content: center;
align-items: center;
flex-direction: $flex-direction;
}












// Maybe entering the default argument of flex-direction of 'row' wasn't necessary here because by default, flex-direciton is row.
