@import './colors';


html {
  box-sizing: border-box;
  background-color: $black;
}

/* Select background color for the whole website/web app with background-color property.
*/


*,
*::before,
*::after {
  box-sizing: inherit;
  // margin: 0;
  // padding: 0;
 
}

/* If you are not using a CSS framework, don't comment out Margin and padding. */


 /* 
 Elements will be stripped of margins and padding, and box-sizing lets you manage layouts using the CSS box model.

 Inheriting the box-sizing from the html selector
 makes it easier to change box-sizing in plugins or other components that leverage other behavior.
*/
  

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
